@import "tailwindcss";

@theme {
  --color-background: hsl(216 82% 9%);
  --color-foreground: hsl(221 100% 92%);
  --color-card: hsl(217 32% 23%);
  --color-card-foreground: hsl(221 100% 92%);
  --color-popover: hsl(216 52% 14%);
  --color-popover-foreground: hsl(221 100% 92%);
  --color-primary: hsl(45 86% 63%);
  --color-primary-foreground: hsl(47 100% 12%);
  --color-secondary: hsl(2 100% 85%);
  --color-secondary-foreground: hsl(350 100% 20%);
  --color-muted: hsl(216 59% 12%);
  --color-muted-foreground: hsl(40 27% 75%);
  --color-accent: hsl(46 64% 52%);
  --color-accent-foreground: hsl(221 100% 92%);
  --color-destructive: hsl(4 100% 83%);
  --color-destructive-foreground: hsl(355 100% 21%);
  --color-border: hsl(43 18% 25%);
  --color-input: hsl(216 52% 14%);
  --color-ring: hsl(46 64% 52%);
  --radius: 1.5rem;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
