version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379" # expose Redis to localhost for development
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"] # persist data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis
    volumes:
      - redisinsight-data:/data

volumes:
  redis-data:
  redisinsight-data:
